<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyun.commons.dao.GenedecunitMapper" >
  <resultMap id="BaseResultMap" type="com.tanyun.commons.domain.Genedecunit" >
    <id column="genedecunit_id" property="genedecunitId" jdbcType="BIGINT" />
    <result column="genedecunit_number" property="genedecunitNumber" jdbcType="VARCHAR" />
    <result column="genedecunit_name" property="genedecunitName" jdbcType="VARCHAR" />
    <result column="genedecunit_desc" property="genedecunitDesc" jdbcType="VARCHAR" />
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR" />
    <result column="added_time" property="addedTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    genedecunit_id, genedecunit_number, genedecunit_name, genedecunit_desc, unit_code, 
    added_time, last_modified_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tanyun.commons.domain.GenedecunitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_gene_genedecunit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_gene_genedecunit
    where genedecunit_id = #{genedecunitId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_gene_genedecunit
    where genedecunit_id = #{genedecunitId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tanyun.commons.domain.GenedecunitExample" >
    delete from t_gene_genedecunit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tanyun.commons.domain.Genedecunit" >
    insert into t_gene_genedecunit (genedecunit_id, genedecunit_number, 
      genedecunit_name, genedecunit_desc, unit_code, 
      added_time, last_modified_time)
    values (#{genedecunitId,jdbcType=BIGINT}, #{genedecunitNumber,jdbcType=VARCHAR}, 
      #{genedecunitName,jdbcType=VARCHAR}, #{genedecunitDesc,jdbcType=VARCHAR}, #{unitCode,jdbcType=VARCHAR}, 
      #{addedTime,jdbcType=TIMESTAMP}, #{lastModifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tanyun.commons.domain.Genedecunit" >
    insert into t_gene_genedecunit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="genedecunitId != null" >
        genedecunit_id,
      </if>
      <if test="genedecunitNumber != null" >
        genedecunit_number,
      </if>
      <if test="genedecunitName != null" >
        genedecunit_name,
      </if>
      <if test="genedecunitDesc != null" >
        genedecunit_desc,
      </if>
      <if test="unitCode != null" >
        unit_code,
      </if>
      <if test="addedTime != null" >
        added_time,
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="genedecunitId != null" >
        #{genedecunitId,jdbcType=BIGINT},
      </if>
      <if test="genedecunitNumber != null" >
        #{genedecunitNumber,jdbcType=VARCHAR},
      </if>
      <if test="genedecunitName != null" >
        #{genedecunitName,jdbcType=VARCHAR},
      </if>
      <if test="genedecunitDesc != null" >
        #{genedecunitDesc,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null" >
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="addedTime != null" >
        #{addedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tanyun.commons.domain.GenedecunitExample" resultType="java.lang.Integer" >
    select count(*) from t_gene_genedecunit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_gene_genedecunit
    <set >
      <if test="record.genedecunitId != null" >
        genedecunit_id = #{record.genedecunitId,jdbcType=BIGINT},
      </if>
      <if test="record.genedecunitNumber != null" >
        genedecunit_number = #{record.genedecunitNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.genedecunitName != null" >
        genedecunit_name = #{record.genedecunitName,jdbcType=VARCHAR},
      </if>
      <if test="record.genedecunitDesc != null" >
        genedecunit_desc = #{record.genedecunitDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.unitCode != null" >
        unit_code = #{record.unitCode,jdbcType=VARCHAR},
      </if>
      <if test="record.addedTime != null" >
        added_time = #{record.addedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifiedTime != null" >
        last_modified_time = #{record.lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_gene_genedecunit
    set genedecunit_id = #{record.genedecunitId,jdbcType=BIGINT},
      genedecunit_number = #{record.genedecunitNumber,jdbcType=VARCHAR},
      genedecunit_name = #{record.genedecunitName,jdbcType=VARCHAR},
      genedecunit_desc = #{record.genedecunitDesc,jdbcType=VARCHAR},
      unit_code = #{record.unitCode,jdbcType=VARCHAR},
      added_time = #{record.addedTime,jdbcType=TIMESTAMP},
      last_modified_time = #{record.lastModifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tanyun.commons.domain.Genedecunit" >
    update t_gene_genedecunit
    <set >
      <if test="genedecunitNumber != null" >
        genedecunit_number = #{genedecunitNumber,jdbcType=VARCHAR},
      </if>
      <if test="genedecunitName != null" >
        genedecunit_name = #{genedecunitName,jdbcType=VARCHAR},
      </if>
      <if test="genedecunitDesc != null" >
        genedecunit_desc = #{genedecunitDesc,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null" >
        unit_code = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="addedTime != null" >
        added_time = #{addedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where genedecunit_id = #{genedecunitId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tanyun.commons.domain.Genedecunit" >
    update t_gene_genedecunit
    set genedecunit_number = #{genedecunitNumber,jdbcType=VARCHAR},
      genedecunit_name = #{genedecunitName,jdbcType=VARCHAR},
      genedecunit_desc = #{genedecunitDesc,jdbcType=VARCHAR},
      unit_code = #{unitCode,jdbcType=VARCHAR},
      added_time = #{addedTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP}
    where genedecunit_id = #{genedecunitId,jdbcType=BIGINT}
  </update>
</mapper>