<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyun.commons.dao.ThirdsystemMapper" >
  <resultMap id="BaseResultMap" type="com.tanyun.commons.domain.Thirdsystem" >
    <id column="th_id" property="thId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="last_modify" property="lastModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    th_id, name, last_modify
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tanyun.commons.domain.ThirdsystemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_thirdsystem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_thirdsystem
    where th_id = #{thId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_thirdsystem
    where th_id = #{thId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tanyun.commons.domain.ThirdsystemExample" >
    delete from t_user_thirdsystem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tanyun.commons.domain.Thirdsystem" >
    insert into t_user_thirdsystem (th_id, name, last_modify
      )
    values (#{thId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{lastModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tanyun.commons.domain.Thirdsystem" >
    insert into t_user_thirdsystem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thId != null" >
        th_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="lastModify != null" >
        last_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thId != null" >
        #{thId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lastModify != null" >
        #{lastModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tanyun.commons.domain.ThirdsystemExample" resultType="java.lang.Integer" >
    select count(*) from t_user_thirdsystem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_thirdsystem
    <set >
      <if test="record.thId != null" >
        th_id = #{record.thId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModify != null" >
        last_modify = #{record.lastModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_thirdsystem
    set th_id = #{record.thId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      last_modify = #{record.lastModify,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tanyun.commons.domain.Thirdsystem" >
    update t_user_thirdsystem
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lastModify != null" >
        last_modify = #{lastModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where th_id = #{thId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tanyun.commons.domain.Thirdsystem" >
    update t_user_thirdsystem
    set name = #{name,jdbcType=VARCHAR},
      last_modify = #{lastModify,jdbcType=TIMESTAMP}
    where th_id = #{thId,jdbcType=BIGINT}
  </update>
</mapper>